<section class="registration_wrapper">

  <div class="registration_form">
    <div class="registr-nav">
      <div class="before">
        <button mat-button class="w-auto" color="light" routerLink="." (click)="registraionSrv.showForm = 'userData'"
          *ngIf="registraionSrv.showForm == 'login'">
          <mat-icon>arrow_forward</mat-icon>
          <span> تسجيل</span>
        </button>
      </div>
      <div class="home">
        <button mat-button class="w-auto" color="light" routerLink="/">
          <span>صفحة الرئيسية</span>
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="next">
        <button mat-button class="w-auto" color="light" routerLink="." (click)="registraionSrv.showForm= 'login'"
          *ngIf="registraionSrv.showForm == 'userData'">
          <span>تسجيل دخول</span>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    <div class="registration_form_" [formGroup]="loginForm" *ngIf="registraionSrv.showForm == 'login'">
      <img src="../../../assets/images/logoRJ_.png" class="logo">
      <h2>{{'FORM.login' | translate}}</h2>
      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input mt-5 " appearance="outline">
          <mat-label>{{'FORM.your-email' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" formControlName="email">
        </mat-form-field>
      </div>
      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input " appearance="outline">
          <mat-label>{{'FORM.your-password' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" type="password" formControlName="password">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="login()">
        <span>{{'FORM.login' | translate}}</span>
      </button>

    </div>

    <div class="registration_form_" [formGroup]="userInfoForm" *ngIf="registraionSrv.showForm == 'userData'">
      <img src="../../../assets/images/logoRJ_.png" class="logo">
      <h2>{{'FORM.registr' | translate}}</h2>

      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input mt-5 " appearance="outline">
          <mat-label>{{'FORM.name' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" formControlName="fullname">
        </mat-form-field>
      </div>
      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input  " appearance="outline">
          <mat-label>{{'FORM.your-email' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" formControlName="email">
        </mat-form-field>
      </div>
      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input  w-32 mx-1" appearance="outline">
          <mat-label>{{'FORM.your-password' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field class="input  w-32 mx-1" appearance="outline">
          <mat-label>{{'FORM.re-password' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" type="password" formControlName="re_password">
        </mat-form-field>
      </div>
      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input  " appearance="outline">
          <mat-label>{{'FORM.your-number' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" formControlName="mobile">
        </mat-form-field>
      </div>
      <div class="w-100 login" dir="rtl">
        <mat-form-field appearance="outline" class="input">
          <mat-label>{{'FORM.birthday' | translate}}</mat-label>
          <input matInput [matDatepicker]="birthday" formControlName="birthday">
          <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
          <mat-datepicker #birthday></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="userInfo()">
        <span>{{'FORM.registr' | translate}}</span>
      </button>

    </div>


    <div class="registration_form_" [formGroup]="playerInfoForm" *ngIf="registraionSrv.showForm == 'playerInfo'">
      <img src="../../../assets/images/logoRJ_.png" class="logo">
      <h2>{{'FORM.player-info' | translate}}</h2>
      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input mt-5 " appearance="outline">
          <mat-label>{{'FORM.nikename' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" formControlName="username">
        </mat-form-field>
      </div>
      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input " appearance="outline">
          <mat-label>{{'FORM.country' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" formControlName="countryId">
        </mat-form-field>
      </div>
      <div class="w-100 login" dir="rtl">
        <mat-form-field class="input " appearance="outline">
          <mat-label>{{'FORM.city' | translate}}</mat-label>
          <input matInput placeholder="Placeholder" formControlName="cityId">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="playerInfo()">
        <span>{{'FORM.save' | translate}}</span>
      </button>
    </div>


  </div>
  <div class="registration_img">

    <div class="banner-element-fourteen">
      <img src="assets/images/banner/line6.png" alt="element">
    </div>
    <div class="banner-element-fifteen">
      <img src="assets/images/banner/line3.png" alt="element">
    </div>
    <div class="banner-element-sixteen">
      <img src="assets/images/banner/line7.png" alt="element">
    </div>
    <div class="banner-element-seventeen">
      <img src="assets/images/banner/line1.png" alt="element">
    </div>
    <div class="banner-element-eightteen">
      <img src="assets/images/banner/manyline.png" alt="element">
    </div>
    <div class="banner-element-nineteen">
      <img src="assets/images/banner/whitedot.png" alt="element">
    </div>
  </div>
</section>
