<h2 mat-dialog-title class="mat-dialog-title ">{{'TOURNAMENTS.' + (data.state == 'edit'? 'elimination':
  'elimination') | translate}}

  <button mat-icon-button (click)="onNoClick()">
    <mat-icon class="close">clear</mat-icon>
  </button>
</h2>
<div class="" mat-dialog-content>
  <mat-vertical-stepper [linear]="isLinear" #stepper [dir]="lang.dir">
    <mat-step [stepControl]="createForm">

      <div [formGroup]="createForm">
        <ng-template matStepLabel>{{'TOURNAMENTS.general' | translate}}</ng-template>
        <div class="row">
          <mat-form-field *ngFor="let input of inputs" appearance="outline" class="{{input.grid}}">
            <mat-label>{{input.name | translate}}</mat-label>
            <input matInput placeholder="{{input.name | translate}}" [type]="input.type"
              [formControlName]="input.controlName" required>
          </mat-form-field>
        </div>
        <div class="mt-3">
          <button mat-raised-button matStepperNext color="primary">{{'FORM.next' | translate}}</button>
          <button mat-button (click)="formTournament()" *ngIf="data.state == 'edit'">{{'FORM.save' | translate}}
          </button>
        </div>
      </div>
    </mat-step>


    <mat-step [stepControl]="createForm2">
      <form [formGroup]="createForm2">
        <ng-template matStepLabel>{{'TOURNAMENTS.advance' | translate}}</ng-template>
        <div class="row ">

          <mat-form-field appearance="outline" class="col">
            <mat-label>{{'TOURNAMENTS.ex-type' | translate}}</mat-label>
            <mat-select required formControlName="isRoundTrip">
              <mat-option [value]="true">{{'TOURNAMENTS.round-trip' | translate}}</mat-option>
              <mat-option [value]="false">{{'TOURNAMENTS.departure' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>{{'TOURNAMENTS.spreadsheets' | translate}}</mat-label>
            <mat-select required formControlName="isRandomDistribution">
              <mat-option [value]="true">{{'TOURNAMENTS.random' | translate}}</mat-option>
              <mat-option [value]="false">{{'TOURNAMENTS.sort-by-priority' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mt-3">
          <button mat-raised-button matStepperPrevious color="primary">{{'FORM.previous' | translate}}</button>
          <button mat-button (click)="formTournament()">{{'FORM.save' | translate}}</button>
        </div>
      </form>
    </mat-step>

  </mat-vertical-stepper>
</div>
<div mat-dialog-action>
  <button mat-raised-button color="warn" (click)="remvoeRule()" *ngIf="data.state == 'edit'">
    {{'FORM.delete' | translate}}
  </button>
  <button mat-button mat-dialog-close (click)="onNoClick()">
    {{'FORM.ok' | translate}}
  </button>
</div>
