// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$RGN-dashboard-primary: mat.define-palette(mat.$indigo-palette);
$RGN-dashboard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$RGN-dashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RGN-dashboard-theme: mat.define-light-theme(
  (
    color: (
      primary: $RGN-dashboard-primary,
      accent: $RGN-dashboard-accent,
      warn: $RGN-dashboard-warn,
    ),
  )
);
.mat-button-toggle-checked {
  background-color: #3f51b5 !important;
}
.mat-button-toggle-checked .mat-button-toggle-label-content {
  color: #fff !important;
}
.mat-button-toggle-label-content {
  color: #1a1a1a !important;
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($RGN-dashboard-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "global";
@import "fonts";
@import "rtl";
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
label,
input,
section,
p,
a,
vertical-menu,
table,
th,
td,
tr,
title,
.navbar-nav .main-menu li a,
#navbarSupportedContent {
  font-family: "Changa", sans-serif !important;
}

.success {
  background: #237a23;
}
.danger {
  background: #7f0000;
}

.site-logo img {
  height: 60px;
  width: auto;
}
mat-dialog-container {
  z-index: 10000000;
}
.header-bottom {
  background-color: transparent !important;
}

.mat-dialog-title {
  display: flex !important;
  direction: rtl;
  justify-content: space-between;
}

.close {
  color: #1a1a1a;
}
h1.mat-dialog-title,
h2.mat-dialog-title,
h3.mat-dialog-title,
h4.mat-dialog-title,
h5.mat-dialog-title,
h6.mat-dialog-title {
  color: #312366;
}
.mat-option-text,
.mat-select-min-line,
.mat-select-value-text {
  color: unset;
}
@media screen and (max-width: 40em) {
  .site-logo img {
    height: 60px;
    width: auto;
  }
  .mat-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto !important;
  }
}
