<navbar></navbar>

<div class="wrapper animeate">

    <div class="tournament_wrapper mt-5">
        <div class="tournament_bannar" [ngStyle]="{'background-image': 'url('+tournament.logo+')'}">
            <div class="tournament_bannar_info">
                <div class="tournament_title text-center">
                    <h3>{{tournament.name}}</h3>
                </div>
                <div class="tournament_date">
                    <div class="date">
                        {{'TOURNAMENTS.start-date' | translate}}
                        <p>{{tournament.startDate | date}}</p>
                    </div>
                    <div class="date">
                        {{'TOURNAMENTS.end-date' | translate}}
                        <p>{{tournament.endDate | date}}</p>
                    </div>
                </div>
                <div class="plateforms_wrapper">
                    <plateform-select *ngFor="let plateform of platfroms" [plateform]="plateform"
                        [tournament_info]=true>
                    </plateform-select>
                </div>
                <div class="">
                    <button mat-raised-button class="" color="light" (click)="registrInTourn()">
                        <H2 class="text-dark">
                            {{'FORM.registr' | translate}}

                        </H2>
                    </button>
                </div>
            </div>
        </div>

        <div class="tournament_body row">
            <div class="col-12 col-md-6 col-lg-8">
                <h2 class="tilte">{{'TOURNAMENTS.discription' |translate}}</h2>
                <p>{{(tournament.discription == '' ? tournament.discription: 'no discription')}}</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <h2 class="tilte">{{'TOURNAMENTS.timezone' |translate}}</h2>
                <p>{{(tournament.timezone == '' ? tournament.timezone: 'no timezone')}}</p>
                <h2 class="tilte">{{'TOURNAMENTS.prize' |translate}}</h2>
                <p>{{(tournament.prizes != '' ? tournament.prizes: 'no prizes')}}</p>
                <h2 class="tilte">{{'TOURNAMENTS.rules' |translate}}</h2>
                <p>{{(tournament.rule != '' ? tournament.rule: 'no rule')}}</p>
            </div>
        </div>
    </div>
</div>