<navbar></navbar>
<sidebar class="d-block d-lg-none"></sidebar>

<div class="wrapper animeate">

  <div class="tournament_wrapper mt-5">
    <div class="tournament_bannar" [ngStyle]="{'background-image': 'url('+this.tournamentsSrv.tournaments.logo+')'}">
      <div class="tournament_bannar_info">
        <div class="tournament_title text-center">
          <h3>{{this.tournamentsSrv.tournaments.name}}</h3>
        </div>
        <div class="tournament_date">
          <div class="date">
            {{'TOURNAMENTS.start-date' | translate}}
            <p>{{this.tournamentsSrv.tournaments.startDate | date}}</p>
          </div>
          <div class="date">
            {{'TOURNAMENTS.end-date' | translate}}
            <p>{{this.tournamentsSrv.tournaments.endDate | date}}</p>
          </div>
        </div>
        <div class="plateforms_wrapper">
          <plateform-select *ngFor="let plateform of platfroms" [plateform]="plateform" [tournament_info]=true>
          </plateform-select>
        </div>
        {{checkIfExist()}}
        <div class="">
          <button mat-raised-button class="" *ngIf="!isParticipant" color="light" (click)="registrInTourn()">
            <h2 class="text-dark">
              {{'FORM.registr' | translate}}
            </h2>
          </button>
          <h2 class="text-center text-white" *ngIf="isParticipant">
            {{'TOURNAMENTS.already-registered' | translate}}
            <span>
              <mat-icon class="verified_icon">verified_user</mat-icon>
            </span>
          </h2>
        </div>
      </div>
    </div>

    <div class="tournament_body row">
      <div class="col-12 col-md-6 col-lg-8">
        <h2 class="tilte">{{'TOURNAMENTS.discription' |translate}}</h2>
        <p>{{(tournamentsSrv.tournaments.discription == '' ? tournamentsSrv.tournaments.discription: 'no
          discription')}}</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <h2 class="tilte">{{'TOURNAMENTS.timezone' |translate}}</h2>
        <p>{{(tournamentsSrv.tournaments.timezone == '' ? tournamentsSrv.tournaments.timezone: 'no
          timezone')}}</p>
        <h2 class="tilte">{{'TOURNAMENTS.prize' |translate}}</h2>
        <p>{{(tournamentsSrv.tournaments.prizes != '' ? tournamentsSrv.tournaments.prizes: 'no prizes')}}</p>
        <h2 class="tilte">{{'TOURNAMENTS.rules' |translate}}</h2>
        <p>{{(tournamentsSrv.tournaments.rule != '' ? tournamentsSrv.tournaments.rule: 'no rule')}}</p>
      </div>
    </div>
  </div>
</div>
