.platForm_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #aeaeae;
  margin: 0.8em;
  font-size: 1.6em;
}

.platForm_item mat-icon {
  width: auto;
  height: auto;
  font-size: 2em;

  color: #aeaeae;
}

.platForm_item.active {
  cursor: pointer;
  color: #1e1e1e;
}

.platForm_item.platForm_item.active mat-icon {
  color: #1e1e1e;
}

.platForm_item.selected {
  color: #312366 !important;
  transform: scale(1.2);
}

.platForm_item.selected mat-icon {
  color: #5d5df9 !important;
}

.platForm_item.tournament_info {
  color: #ffffff;
  margin: 0 0.3em;
  font-size: 1.3em;
}
.platForm_item.tournament_info mat-icon {
  color: #ffffff;
}

@media screen and (max-width: 50em) {
  .platForm_item.tournament_info {
    margin: 0 0.3em;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 25em) {
  .platForm_item.tournament_info {
    margin: 0 0.1em;
    font-size: 0.7em;
  }
}
