<div class="cursor"></div>


<!-- header-section start -->

<header class="header-section ">
    <div class="header">
        <div class="header-top-area">
            <div class="container">
                <div class="header-top-content d-flex flex-wrap align-items-center justify-content-between">
                    <div class="header-logo">
                        <a class="site-logo site-title" routerLinke="/"><img src="../../../assets/images/logoRJ_.png"
                                alt="site-logo"></a>
                    </div>
                    <div class="header-right d-flex flex-wrap align-items-center">
                        <div class="header-social-area">
                            <ul class="header-social">
                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container mt-5">
                <nav class="navbar navbar-expand-lg p-0">
                    <a class="site-logo site-title d-lg-none" routerLink="/"><img src="assets/images/banner/logo.png"
                            alt="site-logo"></a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fas fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav main-menu">
                            <li class="active"><a routerLink="/">الصفحة الرئيسية</a></li>
                            <li><a routerLink="/about-us">من نحن</a></li>
                            <li><a routerLink="/tournament">البطولات</a></li>
                        </ul>
                    </div>
                    <div class="header-search-bar">
                        <input type="text" name="text" placeholder="I’m searching for _">
                        <button class="header-search-btn"><i class="fas fa-search"></i></button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- header-section end -->


<!-- banner-section start -->
<section class="banner-section bg bg_img" data-background="../assets/images/banner/banner.png">
    <div class="banner-element-one my-paroller" data-paroller-factor="0.1" data-paroller-type="foreground"
        data-paroller-direction="horizontal">
        <img src="assets/images/banner/ship1.png" alt="element">
    </div>
    <div class="banner-element-two my-paroller" data-paroller-factor="0.05" data-paroller-type="foreground"
        data-paroller-direction="horizontal">
        <img src="assets/images/banner/man1.png" alt="element">
    </div>
    <div class="banner-element-three my-paroller" data-paroller-factor="0.07" data-paroller-type="foreground"
        data-paroller-direction="horizontal">
        <img src="assets/images/banner/man3.png" alt="element">
    </div>
    <div class="banner-element-four my-paroller" data-paroller-factor="0.07" data-paroller-type="foreground"
        data-paroller-direction="horizontal">
        <img src="assets/images/banner/man2.png" alt="element">
    </div>
    <div class="banner-element-five my-paroller" data-paroller-factor="0.07" data-paroller-type="foreground"
        data-paroller-direction="horizontal">
        <img src="assets/images/banner/ship2.png" alt="element">
    </div>
    <div class="banner-element-six my-paroller" data-paroller-factor="0.07" data-paroller-type="foreground"
        data-paroller-direction="horizontal">
        <img src="assets/images/banner/Robot.png" alt="element">
    </div>
    <div class="banner-element-seven my-paroller" data-paroller-factor="0.07" data-paroller-type="foreground"
        data-paroller-direction="horizontal">
        <img src="assets/images/banner/ship3.png" alt="element">
    </div>
    <div class="banner-element-eight">
        <img src="assets/images/banner/line3.png" alt="element">
    </div>
    <div class="banner-element-nine">
        <img src="assets/images/banner/line4.png" alt="element">
    </div>
    <div class="banner-element-ten">
        <img src="assets/images/banner/circle2.png" alt="element">
    </div>
    <div class="banner-element-eleven">
        <img src="assets/images/banner/circle1.png" alt="element">
    </div>
    <div class="banner-element-twelve">
        <img src="assets/images/banner/line3.png" alt="element">
    </div>
    <div class="banner-element-thirteen">
        <img src="assets/images/banner/line6.png" alt="element">
    </div>
    <div class="banner-element-fourteen">
        <img src="assets/images/banner/line6.png" alt="element">
    </div>
    <div class="banner-element-fifteen">
        <img src="assets/images/banner/line3.png" alt="element">
    </div>
    <div class="banner-element-sixteen">
        <img src="assets/images/banner/line7.png" alt="element">
    </div>
    <div class="banner-element-seventeen">
        <img src="assets/images/banner/line1.png" alt="element">
    </div>
    <div class="banner-element-eightteen">
        <img src="assets/images/banner/manyline.png" alt="element">
    </div>
    <div class="banner-element-nineteen">
        <img src="assets/images/banner/whitedot.png" alt="element">
    </div>
    <div class="container ">
        <div class="row align-items-center mb-30-none">
            <div class="col-lg-6 mb-30">
                <div class="banner-content">
                    <h2 class="title text-right"> رواد الغد العالمية</h2>
                    <span class="sub-title text-right">
                        رواد الغــد العالميـــة وكيل معتمد لشركة االتصــاالت السعــودية وهي
                        شــركــة رائدة
                        تهدف للتقدم والتطــور دائما واالبتكار </span>

                </div>
            </div>
            <div class="col-lg-6 mb-30">
                <div class="banner-video-area">
                    <div class="banner-video-icon">
                        <!-- <a class="popup-youtube mfp-iframe" href="https://www.youtube.com/watch?v=pOuW1dDFXxo">
                            <img src="assets/images/banner/play.png" alt="video">
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->








<!-- challenge-section start -->
<section class="challenge-section bg">
    <div class="container">
        <div class="challenge-area">
            <div class="row justify-content-center mb-30-none">
                <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="challenge-item text-center">
                        <div class="challenge-thumb">
                            <img src="assets/images/challenge/challenge-1.png" alt="challenge">
                        </div>
                        <div class="challenge-content">
                            <h3 class="title">بطولات جديدة كل يوم</h3>
                            <div class="challenge-btn">
                                <!-- <div class="about-btn">
                                    <a href="#0" class="custom-btn">View Tournamnets <i
                                            class="fas fa-long-arrow-alt-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="challenge-item text-center">
                        <div class="challenge-thumb">
                            <img src="assets/images/challenge/challenge-2.png" alt="challenge">
                        </div>
                        <div class="challenge-content">
                            <h3 class="title">تحدى<br>
                                اصدقائك</h3>
                            <div class="challenge-btn">
                                <!-- <div class="about-btn">
                                    <a href="#0" class="custom-btn">View Tournamnets <i
                                            class="fas fa-long-arrow-alt-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="challenge-item text-center">
                        <div class="challenge-thumb">
                            <img src="assets/images/challenge/challenge-3.png" alt="challenge">
                        </div>
                        <div class="challenge-content">
                            <h3 class="title">بطولات متاحة لي <br>
                                جميع المنصات</h3>
                            <div class="challenge-btn">
                                <!-- <div class="about-btn">
                                    <a href="#0" class="custom-btn">View Tournamnets <i
                                            class="fas fa-long-arrow-alt-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- challenge-section end -->


<!-- game-section start -->
<section class="game-section bg pt-120 pb-120" id="game">
    <div class="game-inner"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-header">
                    <h3 class="sub-title">اخبار</h3>
                    <h2 class="section-title">اطلع على اخر اخبار البطولات</h2>
                    <!-- <p>Whether you want to go on an epic adventure, show your skills online or play together with family
                        and
                        friends</p> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                <div class="game-item">
                    <div class="game-thumb">
                        <img src="assets/images/game/d8b511aa-87ad-4780-9bc2-fce0e4e272cbfifa-21-intros.jpg" alt="game">
                    </div>
                    <div class="game-content">
                        <div class="game-content-body">
                            <h3 class="title">عنوان 1</h3>
                            <p>و سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟
                                ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو
                                آخر أراد أن يتجنب الألم الذي ربما تنجم عنه بعض المتعة ؟
                            </p>
                            <!-- <div class="game-meta-post d-flex flex-wrap">
                                <div class="game-verson">
                                    <span>Ver.2.1.5</span>
                                </div>
                                <div class="game-ratings">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div> -->
                        </div>
                        <div class="game-content-footer">
                            <div
                                class="game-content-footer-content d-flex flex-wrap align-items-center justify-content-between">
                                <div class="game-player">
                                    <span>1356 Active Players</span>
                                </div>
                                <div class="game-footer-icon">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                <div class="game-item">
                    <div class="game-thumb">
                        <img src="assets/images/game/egs-rocketleague-psyonixllc-s3-2560x1440-56d55e752216.jpg"
                            alt="game">
                        <span class="thumb-details">Hot</span>
                    </div>
                    <div class="game-content">
                        <div class="game-content-body">
                            <h3 class="title">عنوان 2 </h3>
                            <p>و سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟
                                ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو
                                آخر أراد أن يتجنب الألم الذي ربما تنجم عنه بعض المتعة ؟
                            </p>
                        </div>
                        <div class="game-content-footer">
                            <div class="game-content-footer-content d-flex flex-wrap justify-content-between">
                                <div class="game-player">
                                    <span>1356 Active Players</span>
                                </div>
                                <div class="game-footer-icon">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                <div class="game-item">
                    <div class="game-thumb">
                        <img src="assets/images/game/league_of_legends_logo_wallpaper_by_xlzipx-d7z4i38.png" alt="game">
                    </div>
                    <div class="game-content">
                        <div class="game-content-body">
                            <h3 class="title">عنوان 3 </h3>
                            <p>و سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟
                                ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو
                                آخر أراد أن يتجنب الألم الذي ربما تنجم عنه بعض المتعة ؟
                            </p>
                        </div>
                        <div class="game-content-footer">
                            <div class="game-content-footer-content d-flex flex-wrap justify-content-between">
                                <div class="game-player">
                                    <span>1356 Active Players</span>
                                </div>
                                <div class="game-footer-icon">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- game-section end -->


<!-- client-section start -->
<section class="client-section bg pt-120 pb-120">
    <div class="client-element-one">
        <img src="assets/images/circle-1.png" alt="shape">
    </div>
    <div class="client-element-two">
        <img src="assets/images/circle-2.png" alt="shape">
    </div>
    <div class="client-element-three">
        <img src="assets/images/join/icon-5.png" alt="shape">
    </div>
    <div class="client-element-four">
        <img src="assets/images/join/icon-6.png" alt="shape">
    </div>
    <div class="client-element-five">
        <img src="assets/images/join/icon-7.png" alt="shape">
    </div>
    <div class="client-element-six">
        <img src="assets/images/join/icon-5.png" alt="shape">
    </div>
    <div class="client-element-seven">
        <img src="assets/images/join/icon-6.png" alt="shape">
    </div>
    <div class="client-element-eight">
        <img src="assets/images/join/icon-7.png" alt="shape">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <h2 class="section-title">البطولات</h2>
            <owl-carousel-o [options]="tournamentsOptions">
                <ng-template carouselSlide *ngFor="let tourn of tournaments">
                    <tournaments-card [tournament]="tourn"></tournaments-card>
                </ng-template>


            </owl-carousel-o>
        </div>
    </div>
</section>
<!-- client-section end -->




<!-- faq-section start -->
<!-- <section class="faq-section bg pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-header">
                    <h3 class="sub-title">HOW CAN WE HELP?</h3>
                    <h2 class="section-title">Frequently Asked Questions</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et
                        dolore magna
                        aliqua. Quis ipsum suspendisse ultrices gravida</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-lg-8 mb-30">
                <div class="faq-wrapper">
                    <div class="faq-item">
                        <h3 class="faq-title"><span class="title">Does Utomik work on mobile,Mac and
                                Windows?</span><span class="right-icon"></span></h3>
                        <div class="faq-content">
                            <p>The base requirement is to simply have an internet connection in order to run gamio. Our
                                downloading
                                system will decide how much of the game to download before starting a game based upon
                                your connection.
                            </p>
                            <p>This means that if you have a fast connection, the games will start up faster due to
                                downloading less.
                                If you have a slow connection, the games will start up slower due to downloading more,
                                but this is to
                                ensure that you have no issues while you play no matter what connection speed you have.
                            </p>
                            <p>If you would like further information about how this system works, please send an email
                                to <a href="#0">support@medforce.com.</a></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title"><span class="title">What kind of games are on Gamio?</span><span
                                class="right-icon"></span></h3>
                        <div class="faq-content">
                            <p>The base requirement is to simply have an internet connection in order to run gamio. Our
                                downloading
                                system will decide how much of the game to download before starting a game based upon
                                your connection.
                            </p>
                            <p>This means that if you have a fast connection, the games will start up faster due to
                                downloading less.
                                If you have a slow connection, the games will start up slower due to downloading more,
                                but this is to
                                ensure that you have no issues while you play no matter what connection speed you have.
                            </p>
                            <p>If you would like further information about how this system works, please send an email
                                to <a href="#0">support@medforce.com.</a></p>
                        </div>
                    </div>
                    <div class="faq-item active open">
                        <h3 class="faq-title"><span class="title">What Internet speed do I need for Gamio?</span><span
                                class="right-icon"></span></h3>
                        <div class="faq-content">
                            <p>The base requirement is to simply have an internet connection in order to run gamio. Our
                                downloading
                                system will decide how much of the game to download before starting a game based upon
                                your connection.
                            </p>
                            <p>This means that if you have a fast connection, the games will start up faster due to
                                downloading less.
                                If you have a slow connection, the games will start up slower due to downloading more,
                                but this is to
                                ensure that you have no issues while you play no matter what connection speed you have.
                            </p>
                            <p>If you would like further information about how this system works, please send an email
                                to <a href="#0">support@medforce.com.</a></p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title"><span class="title">Can I play as much as I want?</span><span
                                class="right-icon"></span></h3>
                        <div class="faq-content">
                            <p>The base requirement is to simply have an internet connection in order to run gamio. Our
                                downloading
                                system will decide how much of the game to download before starting a game based upon
                                your connection.
                            </p>
                            <p>This means that if you have a fast connection, the games will start up faster due to
                                downloading less.
                                If you have a slow connection, the games will start up slower due to downloading more,
                                but this is to
                                ensure that you have no issues while you play no matter what connection speed you have.
                            </p>
                            <p>If you would like further information about how this system works, please send an email
                                to <a href="#0">support@medforce.com.</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-30">
                <div class="faq-thumb">
                    <img src="assets/images/faq/faq.png" alt="faq">
                </div>
            </div>
        </div>
        <div class="faq-bottom-area">
            <div class="row justify-content-center">
                <p>Do not hesitate to <span>contact us</span> if you have any questions about our pricing plans. We're
                    here to
                    help and don’t forget to check the <span>FAQ page.</span></p>
            </div>
        </div>
    </div>
</section> -->
<!-- faq-section end -->



<!-- footer-section start -->
<section class="footer-section bg bg_img" data-background="assets/images/footer-bg.png">
    <div class="footer-element">
        <a href="tel:123456789"><img src="assets/images/phone.png" alt="phone"></a>
    </div>
    <div class="footer-element-one">
        <img src="assets/images/footer/footer-element-one.png" alt="element">
    </div>
    <div class="footer-element-two">
        <img src="assets/images/footer/footer-element-two.png" alt="element">
    </div>
    <div class="footer-element-three">
        <img src="assets/images/footer/line1.png" alt="element">
    </div>
    <div class="footer-element-four">
        <img src="assets/images/footer/line1.png" alt="element">
    </div>
    <div class="footer-element-five">
        <img src="assets/images/footer/line9.png" alt="element">
    </div>
    <div class="footer-element-six">
        <img src="assets/images/footer/line9.png" alt="element">
    </div>
    <div class="footer-element-seven">
        <img src="assets/images/footer/line3.png" alt="element">
    </div>
    <div class="footer-element-eight">
        <img src="assets/images/footer/line5.png" alt="element">
    </div>
    <div class="footer-element-nine">
        <img src="assets/images/footer/line5.png" alt="element">
    </div>
    <div class="footer-element-ten">
        <img src="assets/images/footer/line5.png" alt="element">
    </div>
    <div class="footer-element-eleven">
        <img src="assets/images/footer/line5.png" alt="element">
    </div>
    <div class="footer-element-twelve">
        <img src="assets/images/footer/line5.png" alt="element">
    </div>
    <div class="footer-element-thirteen">
        <img src="assets/images/footer/manyline.png" alt="element">
    </div>
    <div class="footer-element-fourteen">
        <img src="assets/images/footer/line5.png" alt="element">
    </div>
    <div class="footer-element-fifteen">
        <img src="assets/images/footer/line5.png" alt="element">
    </div>
    <div class="footer-element-sixteen">
        <img src="assets/images/footer/line5.png" alt="element">
    </div>
    <div class="footer-element-seventeen">
        <img src="assets/images/footer/circle3.png" alt="element">
    </div>
    <div class="footer-shape">
        <img src="assets/images/footer/dotline.png" alt="element">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-content">
                    <h3 class="sub-title">اشترك معانا</h3>
                    <h2 class="title">لي يصلك جديدنا</h2>
                    <form class="footer-form">
                        <input type="email" name="email" placeholder="ادخل بريدك الالكتروني">
                        <input type="submit" class="cmn-btn" value="اشتراك">
                    </form>
                    <p>نحن نحترم خصوصيتك ، لذلك نحن لا نشارك معلوماتك أبدًا</p>
                </div>
                <!-- <div class="footer-bottom d-flex flex-wrap justify-content-between align-items-center">
                    <div class="footer-logo">
                        <a href="#0"><img src="assets/images/banner/logo.png" alt="logo"></a>
                    </div>
                    <div class="footer-btn">
                        <a href="#0" class="cmn-btn">Join Us</a>
                    </div>
                </div> -->
                <div class="copyright-area d-flex flex-wrap justify-content-between">
                    <div class="copyright-content">
                        <!-- <p>Copyright © 2019.All Rights Reserved By <a href="#">Medforce</a></p> -->
                    </div>
                    <ul class="blog-social">
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer-section end -->