.tournament_card {
  position: relative;
  border: 1px solid #aeaeae;
  box-shadow: 0 0 1px 1px #aeaeae;
  border-radius: 0.25em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 380px;
  width: 100%;
  min-width: 310px;
  height: 220px;
  margin-top: 30px;
}

.tournament_logo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.tournament_panel {
  position: absolute;
  padding: 0.8em 1em;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.97);
  display: flex;
  justify-content: space-between;
}

.tournament_action_panel {
  border: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    320deg,
    rgb(26, 103, 115),
    rgba(132, 83, 194, 0.75)
  );
  transition: all 300ms ease-in-out;
  visibility: hidden;
  animation: opacity-out 300ms forwards;
}

.tournament_card:hover .tournament_action_panel {
  transition: all 300ms ease-in-out;
  z-index: 5;
  visibility: visible;
  animation: opacity-in 300ms forwards;
}

.tournament_action_panel.active {
  background: linear-gradient(
    320deg,
    rgb(26, 103, 115),
    rgba(132, 83, 194, 0.88)
  );
  visibility: visible;
  animation: none !important;
}
.tournament_action {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.tournament_action_panel .tournament_action mat-icon {
  cursor: pointer;
  color: #0ecfee;

  height: auto;
  width: auto;
  font-size: 3.2em;
}
.tournament_date {
  font-size: 20px;
}
label {
  font-size: 14px;
}

.tournament_action_panel .tournament_title {
  text-transform: capitalize;
  font-size: 2em;
  color: #fff;
  margin-bottom: 1em;
}

.tournament_action button mat-icon {
  margin: -16px 0;
}
@keyframes opacity-in {
  from {
    opacity: 0;
    transform: scale (1.2);
  }
  to {
    opacity: 1;
    transform: scale (1);
  }
}
@keyframes opacity-out {
  from {
    opacity: 1;
    transform: scale (1);
  }
  to {
    opacity: 0;
    transform: scale (1.2);
  }
}
