<!-- header-section end -->
<!-- header-section start -->
<navbar></navbar>
<sidebar class="d-lg-none"></sidebar>
<!-- about-section start -->
<section class="about-section bg pt-120 pb-120 " id="about" dir="rtl">
  <div class="about-element-one">
    <img src="assets/images/about/icon-1.png" alt="icon">
  </div>
  <div class="about-element-two">
    <img src="assets/images/about/icon-2.png" alt="icon">
  </div>
  <div class="about-element-three">
    <img src="assets/images/about/icon-3.png" alt="icon">
  </div>
  <div class="about-element-four">
    <img src="assets/images/about/icon-4.png" alt="icon">
  </div>
  <div class="about-element-five">
    <img src="assets/images/about/icon-5.png" alt="icon">
  </div>
  <div class="about-element-six">
    <img src="assets/images/about/icon-5.png" alt="icon">
  </div>
  <div class="about-element-seven">
    <img src="assets/images/about/icon-6.png" alt="icon">
  </div>
  <div class="about-element-eight">
    <img src="assets/images/about/icon-7.png" alt="icon">
  </div>
  <div class="about-element-nine">
    <img src="assets/images/about/icon-8.png" alt="icon">
  </div>
  <div class="about-element-ten">
    <img src="assets/images/about/icon-9.png" alt="icon">
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center mb-30-none">
      <div class="col-lg-6 mb-30">
        <div class="about-item-area">
          <div class="row justify-content-center mb-30-none">
            <div class="col-lg-6">
              <div class="about-item text-center">
                <div class="about-icon">
                  <img src="assets/images/about/about-1.png" alt="about">
                </div>
                <h3 class="title">رســا لـتــنا
                </h3>
                التقنية هي المستقبل
                <p>
                  نحن في ار جي أي بنينا عالم آخر من خلال التقنية نسعى فيه لاكتشاف مواهب شبابنا وشاباتنا ودعمهم
                  للوصول إلى العالمية فيهم نرتقي ونتقدم.
                  كما نسعى لأن نكون الوجهة الأولى للمستثمرين في إنشاء أقوى البطولات في الشرق الأوسط.
                </p>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-item about-item--style text-center mt-30">
                <div class="about-icon">
                  <img src="assets/images/about/about-2.png" alt="about">
                </div>
                <h3 class="title">نــبــذة عنـــــا
                </h3>
                <p>شـركــة
                  متخصصـة فـي بيــع المـنـتـجــات لشركـــة االتصــاالت السعــوديــة ولدينا أيضا متجــر
                  الكتروني ولدينا منصة رياضية لأللعاب االلكترونية ولديـنــــا وكالة اعمـــال
                  المشاهيـــر
                  والتنسيق الدعائي ولدينا كذلك اكـاديمـيـه الكترونية لأللعــاب الستقطـاب افضل
                  الالعبـين
                  والمشاركة في البطوالت الخارجية وااللكترونية </p>
                <!-- <div class="about-btn">
                                    <a href="#0" class="custom-btn">Read More<i
                                            class="fas fa-long-arrow-alt-right"></i></a>
                                </div> -->
              </div>
            </div>
            <div class="col-lg-6 mb-30">
              <div class="about-item text-center">
                <div class="about-icon">
                  <img src="assets/images/about/about-3.png" alt="about">
                </div>
                <h3 class="title">رؤيتنا</h3>
                <p>
                  التقدم في المستوى اختياري لكن ار جي أي تصنع التقدم..
                  ار جي أي تسعى لأن تكون أضخم منصة إلكترونية تشارك بطولاتها عالمياً.

                </p>

              </div>
            </div>
            <div class="col-lg-6 mb-30">
              <div class="about-item about-item--style-two text-center mt-30">
                <div class="about-icon">
                  <img src="assets/images/about/about-4.png" alt="about">
                </div>
                <h3 class="title">قيمنا</h3>
                <p>نحن ليست مجرد مقدم تقليدي للخدمات ، ولكن تعامل على مبدا هو ميثاق أخالقي قبل
                  ان يكون مشـــروع اعمــال
                  يقوم تعامل شركتنا على االلتزام ببنود االتفاق وتنفيذ الشروط بغاية السرعة و الدقــة
                  واإلتقان واألسعار المنافسة.
                  كما ننفرد بمجموعة من القيم التي تجعلنا صرحا فريــدا للخدمــات إقليميـــا و دوليـــا
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-30">
        <div class="about-content">
          <!-- <h3 class="sub-title">نــبــذة عنـــــا
                    </h3> -->
          <h2 class="title">مين احنا؟
            RGI
          </h2>
          <p>منصة سعودية للألعاب الإلكترونية
            تنظم بطولات إلكترونية مليئة بتحديات لا مجال للخسارة فيها،
            في ار جي اي غيرنا مفهوم اللعب وعملنا على تحقيق الأحلام للخوض في تجارب ومنافسات مثيرة وجديدة.
            ار جي أي فضاء واسع ابتكرناه لجذب هواة الألعاب الإلكترونية للاستمتاع باللعب والتحدي مع نخبة من المشاهير
            وأبطال الألعاب الإلكترونية

          </p>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- about-section end -->
