<!-- header-section end -->
<!-- header-section start -->
<navbar></navbar>
<sidebar class="d-lg-none"></sidebar>
<!-- about-section start -->
<section class="about-section bg pt-120 pb-120 " id="about" dir="rtl">
    <div class="about-element-one">
        <img src="assets/images/about/icon-1.png" alt="icon">
    </div>
    <div class="about-element-two">
        <img src="assets/images/about/icon-2.png" alt="icon">
    </div>
    <div class="about-element-three">
        <img src="assets/images/about/icon-3.png" alt="icon">
    </div>
    <div class="about-element-four">
        <img src="assets/images/about/icon-4.png" alt="icon">
    </div>
    <div class="about-element-five">
        <img src="assets/images/about/icon-5.png" alt="icon">
    </div>
    <div class="about-element-six">
        <img src="assets/images/about/icon-5.png" alt="icon">
    </div>
    <div class="about-element-seven">
        <img src="assets/images/about/icon-6.png" alt="icon">
    </div>
    <div class="about-element-eight">
        <img src="assets/images/about/icon-7.png" alt="icon">
    </div>
    <div class="about-element-nine">
        <img src="assets/images/about/icon-8.png" alt="icon">
    </div>
    <div class="about-element-ten">
        <img src="assets/images/about/icon-9.png" alt="icon">
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-lg-6 mb-30">
                <div class="about-item-area">
                    <div class="row justify-content-center mb-30-none">
                        <div class="col-lg-6">
                            <div class="about-item text-center">
                                <div class="about-icon">
                                    <img src="assets/images/about/about-1.png" alt="about">
                                </div>
                                <h3 class="title">رســا لـتــنا
                                </h3>
                                <p>توزيــــــع وبيــع خدمـــات االتصـــاالت وتقنيـة
                                    المعلومـات من خــالل تقديـــم االستشــــارة في
                                    تحديد احتياج العميل وتحقيقه بأفضل سعر واقل
                                    وقت واكثر دقة </p>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-item about-item--style text-center mt-30">
                                <div class="about-icon">
                                    <img src="assets/images/about/about-2.png" alt="about">
                                </div>
                                <h3 class="title">نــبــذة عنـــــا
                                </h3>
                                <p>شـركــة
                                    متخصصـة فـي بيــع المـنـتـجــات لشركـــة االتصــاالت السعــوديــة ولدينا أيضا متجــر
                                    الكتروني ولدينا منصة رياضية لأللعاب االلكترونية ولديـنــــا وكالة اعمـــال
                                    المشاهيـــر
                                    والتنسيق الدعائي ولدينا كذلك اكـاديمـيـه الكترونية لأللعــاب الستقطـاب افضل
                                    الالعبـين
                                    والمشاركة في البطوالت الخارجية وااللكترونية </p>
                                <!-- <div class="about-btn">
                                    <a href="#0" class="custom-btn">Read More<i
                                            class="fas fa-long-arrow-alt-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-6 mb-30">
                            <div class="about-item text-center">
                                <div class="about-icon">
                                    <img src="assets/images/about/about-3.png" alt="about">
                                </div>
                                <h3 class="title">رؤيتنا</h3>
                                <p>رؤيتنا تدور حول ترسيخ اسمنا في مجال االتصاالت وتقنية المعلومات فـي
                                    توزيع وإعادة بيع خدمات االتصاالت السعودية وتقنية المعلومـات بالمملكـة
                                    العربية السعودية من خالل تحديد مستوى ثابت لجودة األعمال التي نقدمها
                                    و اقتراح أفكار خاالقة نتميز بهـا لتحسيـن عامـل الوقت و الكلفـة و الجـودة
                                    و المرونة في تحقيق متطلبات العمالء مما يعودعلينا بثقة العمالءورضاهم. </p>

                            </div>
                        </div>
                        <div class="col-lg-6 mb-30">
                            <div class="about-item about-item--style-two text-center mt-30">
                                <div class="about-icon">
                                    <img src="assets/images/about/about-4.png" alt="about">
                                </div>
                                <h3 class="title">قيمنا</h3>
                                <p>نحن ليست مجرد مقدم تقليدي للخدمات ، ولكن تعامل على مبدا هو ميثاق أخالقي قبل
                                    ان يكون مشـــروع اعمــال
                                    يقوم تعامل شركتنا على االلتزام ببنود االتفاق وتنفيذ الشروط بغاية السرعة و الدقــة
                                    واإلتقان واألسعار المنافسة.
                                    كما ننفرد بمجموعة من القيم التي تجعلنا صرحا فريــدا للخدمــات إقليميـــا و دوليـــا
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-30">
                <div class="about-content">
                    <!-- <h3 class="sub-title">نــبــذة عنـــــا
                    </h3> -->
                    <h2 class="title">كلمة رئيس مجلس اإلدارة </h2>
                    <p>مــنــذ بــــدء تأسيــس شــــركة رواد الغـــــد العــــالـــمـيــة ) 1417 هـ ( كمؤســســـة
                        مقـــاوالت عامة ومــع تطـلــع اإلدارة
                        لمواكبة تطورات المملكة العربية السعوديــة تم تحــويـــل نشـــاط المؤسســــة إلـــى االتصـــاالت
                        وتـقـــنــيــة المعـــلومـــات
                        فـــــي عـــام 1432هـ تعاقــــدنــا مع شـــــركــة اتحـــاد االتصـــاالت موبايلــــي . وفـــي
                        عـــام 1435هـ تــــم الــتعــــــاقــــد
                        مع شـــركة زيـــن لالتصـــــاالت . في عام 1437هـ تم التعاقد مع شــركة ليبـــــارا لالتصــــاالت
                        وتم التوقــيـــع واالتفـــــاق
                        مـــــــع شركـــة االتصـــاالت السـعـــوديـــة لــكـــي تكـون وكـــيــل ومــوزع معتـمـد ألكــبر
                        الشركـات في الشــرق األوسـط
                        لعام 1438هـ وحتـى تـــاريــخــنـــا هـــذا . استطاعـــت الشـــركـــة إيــجـــاد الــقيـــم
                        والمـفاهيــم في مجــال إدارة االعمـــال
                        واتخــذت على مــر الـعـقـــد المنصـــرم الكثــيــر من الخطـــوات الجريئــة واستثمــرت في
                        العـــديــد مــن مجـــاالت االعمـال
                        إن التفكير العصري واالبداع واالبتكار من اهم األسس التي بنيت عليها الشركة يحتاج إلى تواجد شركــات
                        هندسـيـة عمــالق
                        تحمــل بصمة الخبــراء في المجــال التقنــي و الهندســي حيث تقدم خدمات االستشارات باحترافية و
                        مهنية عالية و عالمـيـة
                        لضمان التنفيذ األمثل للمشاريع و خدمـة المواطنـيـن و العمــالء و الطمــوح لمستقبــل إيجـــابــي.
                        و بناء على هذا التصــــور
                        عكفنا على أن نكون هيكال استشاريا رائدا في مجال االستشارات الهندسية فــي نطـــاقــنـــا
                        الجــغـــرافــــي. وتقديم خدمــــات
                        احترافية وفقا لما يتم تقديمه على مستويات عالمية كما يعتبر رضا عمالئنا منطلقا و هدفا . كمـا
                        نسعــى نحو توعيــة العميــل
                        و احتوائه و استيعاب انشغاله و ننقله بسالسة و مرونة من مرحلة التصور الى مرحلة التجسيد الفعلي
                        ونقدم أوسع الخيارات
                        لعمالئنا مع موافاتهم بكل جديد في مجاالت تخصصنـا
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->