.close_button {
  left: 1em;
  top: 1em;
  position: absolute;
}
.sidebar {
  width: 250px;
  bottom: 0;
  z-index: 100000;
  height: 100%;
  background-color: #171744;
  background-image: url("../../../assets/images/games/banner/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2em;
  overflow: auto;
}

.nav-menu {
  display: inline-block;
  list-style: none;
}

.vertical-menu a {
  font-family: unset;
  background-color: linear-gradient(320deg, #171744, #21215e);
  color: #fff;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom-left-radius: 1.5em;
  border-top-left-radius: 1.5em;
  margin: 1.5em 0;
}

.vertical-menu a:hover {
  background-color: #fff;
  color: #171744;
}

.vertical-menu a.active {
  background-color: #04aa6d;
  color: white;
}

.vertical-menu a {
  display: flex;
  justify-content: space-between;
}

.user_data {
  padding: 4em 0 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  //   margin: 4em 0 2em;
}
.user_data .email {
  font-size: 0.8em;
}
.user_data .email {
  font-size: 0.8em;
}
.user_data .name {
  font-size: 1.6em;
}
.logo {
  font-size: 5em;
  width: auto;
  height: auto;
  color: #fff;
}
.sidebar.open {
  margin-right: 0;
  transition: 500ms;
}
.logo_img {
  width: 40%;
  height: auto;
  margin: 0 auto;
}
@media screen and (max-width: 63em) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    z-index: 1000;
    margin-right: -300px;
    transition: 500ms;
  }
}
