<h2 mat-dialog-title class="mat-dialog-title">{{'FORM.edit-user-profile' | translate}}
    <button mat-icon-button (click)="onNoClick()">
        <mat-icon class="close">clear</mat-icon>
    </button>
</h2>

<div mat-dialog-content [formGroup]="userForm" class="row">
    <div class="col-12" dir="rtl">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'FORM.name' | translate}}</mat-label>
            <input matInput placeholder="{{'FORM.name' | translate}}" formControlName="fullname">
        </mat-form-field>
    </div>
    <div class="col-12" dir="rtl">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'FORM.email' | translate}}</mat-label>
            <input matInput placeholder="{{'FORM.email' | translate}}" formControlName="email">
        </mat-form-field>
    </div>
    <div class="col-12" dir="rtl">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'FORM.birthday' | translate}}</mat-label>
            <input matInput [matDatepicker]="birthday" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
            <mat-datepicker #birthday></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-12" dir="rtl">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'FORM.gender' | translate}}</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="M">{{'FORM.male' | translate}}</mat-option>
                <mat-option value="F">{{'FORM.female' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onNoClick()">{{'FORM.ok' | translate}}</button>
    <button mat-raised-button color="primary" (click)="editUser()">{{'FORM.update' | translate}}</button>
</div>