<section class="wrapper" *ngIf="tournamentsSrv.tournaments">
  <div class="client-element-one">
    <img src="assets/images/circle-1.png" alt="shape">
  </div>
  <div class="client-element-two">
    <img src="assets/images/circle-2.png" alt="shape">
  </div>


  <div class="tournament_container">

    <div class="row justify-content-between align-items-center">
      <h2 class="col" style="color: #05c3de;">{{'TOURNAMENTS.manage' | translate}}</h2>
      <span class="col" style="text-align: left;">
        <button mat-raised-button color="primary" (click)="isPublished(false)"
          class="mx-1">{{'TOURNAMENTS.save-as-draft' |
          translate}}</button>
        <button mat-raised-button color="primary" (click)="isPublished(true)" class="mx-1">{{'TOURNAMENTS.publish' |
          translate}}</button>
        <button mat-button color="primary" routerLink="/tournament">
          <span class="text-light">
            {{'FORM.previous' | translate}}

          </span>
          <mat-icon color="primary">arrow_back</mat-icon>
        </button>
      </span>
    </div>
    <div class="tournament_card row align-items-center">
      <h5 class="tournament_title d-flex justify-content-between">{{'TOURNAMENTS.main' | translate}}
        <button mat-raised-button color="primary"
          (click)="dialogSrv.openTounamentsDialog('edit', tournamentsSrv.tournaments)">{{'FORM.edit' |
          translate}}</button>
      </h5>
      <div class=" col-lg-3 col-md-4 col-12 col-sm-6 tournament_data">
        <label>{{ 'TOURNAMENTS.name' | translate}}</label>
        <div>{{tournamentsSrv.tournaments.name}}</div>
      </div>
      <div class=" col-lg-3 col-md-4 col-12 col-sm-6 tournament_data">
        <label>{{ 'TOURNAMENTS.start-date' | translate}}</label>
        <div>{{tournamentsSrv.tournaments.startDate | date}}</div>
      </div>
      <div class=" col-lg-3 col-md-4 col-12 col-sm-6 tournament_data">
        <label>{{ 'GAME.game' | translate}}</label>
        <div>{{tournamentsSrv.tournaments.numberOfParticipants}}</div>
      </div>
      <div class="col-lg-3 col-md-4 col-12 col-sm-6 ">

      </div>
    </div>

    <div class="tournament_card row align-items-center">
      <h5 class="tournament_title d-flex justify-content-between">{{'TOURNAMENTS.associate' | translate}}
        <button mat-raised-button color="primary" (click)="goToAssociate()">{{'FORM.edit' | translate}}</button>

      </h5>
      <div class=" col-lg-3 col-md-3 col-12 col-sm-6 tournament_data">
        <label>{{ 'TOURNAMENTS.number-of-participants' | translate}}</label>
        <div>{{tournamentsSrv.tournaments.numberOfParticipants}}</div>
      </div>
      <div class=" col-lg-3 col-md-3 col-12 col-sm-6 tournament_data">
        <label>{{ 'TOURNAMENTS.registered' | translate}}</label>
        <div>{{tournamentsSrv.tournaments.tournamentParticipants
          ?tournamentsSrv.tournaments.tournamentParticipants.length : 0 }}
        </div>
      </div>
      <div class=" col-lg-3 col-md-3 col-12 col-sm-6 tournament_data">
        <label>{{ 'TOURNAMENTS.confirmed' | translate}}</label>

        <div>{{tournamentsSrv.tournaments.tournamentParticipants
          ?
          confirmedParticipants(tournamentsSrv.tournaments.tournamentParticipants) : 0}}</div>
      </div>
      <div class="col-lg-3 col-md-4 col-12 col-sm-6 ">
      </div>
    </div>

    <div class="tournament_card row align-items-center">
      <h5 class="tournament_title d-flex justify-content-between">{{'FORM.registration-department' | translate}}
        <button mat-raised-button color="primary"
          (click)="dialogSrv.openManageRegistrtionDialog('edit', tournamentsSrv.tournaments)">{{'FORM.edit' |
          translate}}</button>
      </h5>
      <div class=" col-lg-3 col-md-3 col-12 col-sm-6 tournament_data">
        <label>{{ 'TOURNAMENTS.start-date' | translate}}</label>
        <div>{{tournamentsSrv.tournaments.startRegistrationDate | date}}</div>
      </div>
      <div class=" col-lg-3 col-md-3 col-12 col-sm-6 tournament_data">
        <label>{{ 'TOURNAMENTS.end-date' | translate}}</label>
        <div>{{tournamentsSrv.tournaments.endRegistrationDate | date}}</div>
      </div>
      <div class=" col-lg-3 col-md-3 col-12 col-sm-6 tournament_data">
        <!-- <label>{{ 'TOURNAMENTS.number-of-participants' | translate}}</label>
                <div>{{tournamentsSrv.tournaments.numberOfParticipants}}</div> -->
      </div>

    </div>


    <div class="tournament_card row align-items-center justify-content-between">
      <h5 class="tournament_title d-flex justify-content-between">{{'TOURNAMENTS.management-rules' | translate}}
        <button mat-raised-button color="primary" routerLink="rule">{{'FORM.add' | translate}}</button>

      </h5>
      <div class="col-12 rules" *ngIf="tournamentsSrv.tournaments.tournamentRules">
        <ng-container *ngFor="let rule of tournamentsSrv.tournaments.tournamentRules">
          <rule-card *ngIf="!rule.isDeleted" [rule]="rule"></rule-card>

        </ng-container>

      </div>
      <div class=" col-lg-3 col-md-3 col-12 col-sm-6 tournament_data">
        <!-- <label>{{ 'TOURNAMENTS.number-of-participants' | translate}}</label>
                <div>{{tournamentsSrv.tournaments.numberOfParticipants}}</div> -->
      </div>
      <div class="col-lg-3 col-md-4 col-12 col-sm-6 ">
      </div>
    </div>


  </div>

</section>
