<h2 mat-dialog-title class="mat-dialog-title ">{{'FORM.remove-alert' | translate}}

  <button mat-icon-button (click)="onNoClick()">
    <mat-icon class="close">clear</mat-icon>
  </button>
</h2>
<div class="" mat-dialog-content>
  {{'FORM.delete-message' | translate}}
</div>

<div class="mt-3" mat-dialog-action>
  <button mat-button (click)="onNoClick()">
    {{'FORM.cancel' | translate}}
  </button>
  <button mat-raised-button color="warn" (click)="remove()">
    {{'FORM.confirm' | translate}}
  </button>
</div>
